@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('assets/chuttersnap-z8lvJsoOUvo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



.App{
  display: flex;
  justify-content: space-evenly;
  
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.item{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title{
  text-align: center;
  font-size: 70px;
}

.search-city-form{
  border: 1px solid black;
  border-radius: 5px;
  margin: 3em;
  text-align: center;
  
}

.search-city-form btn{
  justify-content: center;
}

.form-control {
  margin: 20px ;
}

.form-control label {
  font-size: 40px;
  margin-right: 10px;
}

.form-control input {
  width: 33%;
  height: 40px;
  margin-top: 3px;
  font-size: 17px;
}

.form-control .btn {
  width: 20%;
  background: #000;
  color: #fff;
  border: none;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

.weather-temps{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}



